
<a href="/" class="btn btn-default">Home</a>

<% if policy(Cta).index? %>
  <%= link_to "List CTAs", ctas_path, class: "btn btn-primary" %>
<% end %>

<% if policy(Cta).new? %>
  <%= link_to "New CTA", new_cta_path, class: "btn btn-success" %>
<% end %>
