
<%= render 'errors' %>

<nav class="clearfix sitenav">
  <div class="col-md-6">
    <h1>Call to Action <small>edit</small></h1>
  </div>

  <div class="col-sm-6">
    <div class="cta-actions">
      <%= render 'actions' %>
    </div>
  </div>
</nav>

<div class="col-sm-6">
  <div class="cta-actions">
    <%= render 'actions' %>
  </div>
</div>

