
<nav class="clearfix sitenav">
  <div class="col-sm-8">
    <h1 class="brand"><%= link_to "Call to Action", root_path %> <small>the actions list</small></h1>
  </div>

  <div class="col-sm-4">
    <div class="cta-actions">
      <%= render 'actions' %>
    </div>
  </div>
</nav>

<div class="col-xs-12">
  <p>This is the list of live <strong>Calls to Action</strong> and the keywords they will match in an article. </p>

  <p>If you'd like to see another actions, then please
    <%= link_to "Suggest an Action", new_cta_path, class: "btn btn-default" %>
  </p>
</div>

<div class="col-xs-12">
  <div class="list-group">
    <% @ctas.each do |cta| %>
      <%= render 'cta', cta: cta %>
    <% end %>
  </div>
</div>

