
<div class="col-sm-8">
  <h1>Call to Action <small>the actions list</small></h1>
</div>

<div class="col-sm-4">
  <div class="cta-actions">
    <%= render 'actions' %>
  </div>
</div>

<div class="col-xs-12">
  <p>This is the list of buttons that we have and the keywords they will search
    for. </p>

  <p>If you'd like to add actions, then please get in touch: kevin@skinofstars.com</p>
</div>

<div class="col-xs-12">
  <div class="list-group">
    <% @ctas.each do |cta| %>
      <%= render 'cta', cta: cta %>
    <% end %>
  </div>
</div>

