
<%= render 'errors' %>

<div class="col-md-6">
  <h1>Call to Action <small>new</small></h1>

  <%= render 'form' %>
</div>

<div class="col-sm-6">
  <div class="cta-actions">
    <%= render 'actions' %>
  </div>
</div>
