
<nav class="clearfix sitenav">
  <div class="col-md-8">
    <h1>Call to Action <small>don't just read the news. engage.</small></h1>
  </div>

  <div class="col-sm-4">
    <div class="cta-actions">
      <%= render 'ctas/actions' %>
    </div>
  </div>
</nav>


<div class="col-xs-12">
  <p>Modern news is a media business. We read it, then forget it. The news cycle spins on.</p>

  <p><b>Call to Action</b> adds buttons to the end of news stories with suggestions
    of things you can do if the article has affected you in some way - perhaps
    you've been touched by a story, or angered.
  </p>


  <h3>Give me things to do!</h3>
  <p><b>Call to Action</b> is a Chrome extension. You can get it here</p>

  <div id="fl-cta-container">
    <a href="https://chrome.google.com/webstore/detail/call-to-action/bjppfcohnobmiopgompfghjdljgojnck" class="cta-button cta-help-button">Install Call to Action for Chrome</a>
  </div>



  <h3>Who decides on the actions?</h3>
  <p>Currently the list is curated from submissions. If you feel that balance is missing,
    or you want to raise awareness of an action:

    <%= link_to "Suggest an Action", new_cta_path, class: "btn btn-default" %>

  </p>


  <h3>How does it work?</h3>
  <p>You are trying the idea out in the super-alpha-MVP stage. It looks at the text
    within a story and matches up against some required and some likely words.</p>

  <p>Because news sites tend to have a lot going on in a page, this is targetting
    the known layouts of major news outlets. It currently only works for the following
    sites:</p>

  <ul>
    <li>BBC UK</li>
    <li>Guardian UK</li>
    <li>Daily Mail UK</li>
    <li>Telegraph UK</li>
    <li>Huffington Post UK</li>
    <li>Forbes</li>
  </ul>

  <p>If you'd like your favourite news site to be added, please get in touch: kevin@skinofstars.com</p>

  <p>If you'd like to help with the project, it's open source! Get yourself
    over to the Github page:
    <a href="https://github.com/skinofstars/call-to-action">https://github.com/skinofstars/call-to-action</a>
  </p>


  <h3>Why</h3>
  <p>For a long time I got frustrated with reading the news. I felt like I was
    just watching bad things happen. It made me sad.</p>

  <p>My first decision was to stop reading the news. This helped a little, I felt
    liberated and happier. Problem was, I was just sticking my head in the sand.</p>

  <p>What I wanted was an option or encouragement for something to do about what
    I was reading. I wanted buttons at the end, recommending things I could do.</p>

</div>

<br />
<br />
<!-- all because i couldn't be bothered to do add a little margine botttom css.
      i mean, i could even be doing the css now rather than writing this,
      but i'm not... screw you css! -->
<br />
<br />
