<div class="container">
  <h1>Call to Action</h1>
  <h2>Don't just read the news.</h2>

  <p>Modern news is a media business. We read it, then forget it. The news cycle spins on.</p>

  <p><b>Call to Action</b> places buttons at the end of news articles with options
    of things you can do about what you've read. You have an easy choice to do more if you want.</p>


  <h3>Give me things to do!</h3>
  <p><b>Call to Action</b> is a Chrome extension. You can get it here</p>

  <div id="fl-cta-container">
    <a href="/cta-chrome.crx" class="cta-button cta-help-button">Call to Action Chrome extension</a>
  </div>



  <h3>Who decides on the actions?</h3>
  <p>The list is currently curated. The ideal to ensure that every action
    should have an equal and opposite action. If you feel that balance is missing,
    or you want to raise awareness of an action, please get in contact: kevin@skinofstars.com</p>



  <h3>Why</h3>
  <p>For a long time I got frustrated with reading the news. I felt like I was
    just watching bad things happen. It made me sad</p>

  <p>My first decision was to stop reading the news. This helped. Once I'd gotten
    past my addiction, I felt liberated and happy again. Problem was, I was just
    sticking my head in the sand</p>

  <p>What I wanted was an option for something to do about what I was reading</p>
</div>
